/.bashrc
/.cache
/.config
/.env
/.idea
/.ipython
/.jupyter
/.lightning_studio
/.lightningignore
/.python_history
/.vimrc
/.vscode
/.wget-hsts
/.zcompdump
/.zshrc
/__pycache__
/api.json
/cache
/data
/filter_and_categorize_duplicates-1.ipynb
/filter_and_categorize_duplicates-2.ipynb
/filter_and_categorize_duplicates-3.ipynb
/filter_and_categorize_duplicates-4.ipynb
/find_and_visualize_duplicates-2.ipynb
/find_and_visualize_duplicates-3.ipynb
/find_and_visualize_duplicates-4.ipynb
/lightning_binary_index.bin
/other
/scripts
/zero-shot-openclip-2.ipynb
/zero-shot-openclip-gpu-test.py
/zero-shot-openclip.ipynb
/.condarc
/.gitconfig
/.docker
/.hushlogin
/.local
/.oh-my-zsh
/.ssh
/.sudo_as_admin_successful
/calculate_total.py
*.zip
/filtered_results_all
*.png
/fp_figures
file_compress.py
file_cleanup.py
*.pyc
/web_app